.pane {
    -fx-font-family: "Noto Sans";
}

.text {
    -fx-font-smoothing-type: gray;
}

.context-menu {
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 1 7 7 7, 0 6 6 6, 1 5 5 5;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
}

.tab {
    -fx-background-insets: 0 1 0 1, 0, 0;
}

.tab-header-area {
    -fx-padding: 0 0 0 17;
}

.tab-pane:top * .tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
}

.lineno {
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar {
    -fx-pref-width: 20;
}

.area:x-scrolled .lineno {
    -fx-opacity: 1;
}

.drop-menu .drop-menu-button:disabled {
    -fx-opacity: .8;
}

.drop-menu .drop-menu-button:disabled > .label {
    -fx-opacity: .5;
}

.variables-menu .table-row-cell .text, .variables-menu .text-field {
    -fx-font-size: 17.5;
}

.table-control-bar {
    -fx-spacing: 20;
    -fx-padding: 25;
    -fx-alignment: center-left;
}

.table-control-bar .add-button {
    -fx-shape: "M17,13H13V17H11V13H7V11H11V7H13V11H17M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z";
}

.table-control-bar .remove-button {
    -fx-shape: "M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z";
}

.table-control-bar .add-button, .table-control-bar .remove-button {
    -fx-pref-width: 24;
    -fx-pref-height: 24;
    -fx-min-width: 0;
    -fx-min-height: 0;
}

.hints-scrollpane > .scroll-bar > .increment-button, .hints-scrollpane > .scroll-bar > .decrement-button {
    -fx-pref-width: .5;
    -fx-pref-height: .5;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.left-pane .scroll-bar {
    -fx-opacity: .3;
}

.setting-label {
    -fx-font-size: 15;
}

.setting-control, .setting-control .text, .setting-control .table-row-cell .text {
    -fx-font-size: 13.5;
}

.setting-server .text-field {
    -fx-font-size: 13.5;
}

.setting-text {
    -fx-font-size: 12;
}

.setting-separator {
    -fx-opacity: .1;
    -fx-max-height: 1;
}

.no-tabs-label, .version-label {
    -fx-font-size: 25;
}

.version-label {
    -fx-font-size: 12;
}

.colored-text-control-button {
    -fx-font-size: 20;
}

.colored-text-control-button-b .text {
    -fx-font-weight: bold;
}

.colored-text-control-button-i .text {
    -fx-font-style: italic;
}

.colored-text-control-button-u .text {
    -fx-underline: true;
}

.colored-text-control-button-s .text {
    -fx-strikethrough: true;
}

.color-combo-box {
    -fx-font-size: 20;
}

.information-box {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .4), 15, 0, 0, 7);
}

.minecraft-chat-preview-flow, .minecraft-scoreboard-title-preview-flow, .minecraft-scoreboard-preview-flow {
    -fx-padding: 0 3.5 .5 10;
}

.minecraft-chat-preview-flow {
    -fx-background-color: rgba(0, 0, 0, .57);
}

.minecraft-scoreboard-title-preview-flow {
    -fx-background-color: rgba(0, 0, 0, .35);
}

.minecraft-scoreboard-preview-flow {
    -fx-background-color: rgba(0, 0, 0, .18);
}

.minecraft-chat-preview-flow .label, .minecraft-actionbar-preview-flow .label {
    -fx-font-family: "Minecraft";
    -fx-font-size: 15;
}

.minecraft-scoreboard-preview-flow .label, .minecraft-scoreboard-title-preview-flow .label {
    -fx-font-family: "Minecraft";
    -fx-font-size: 23;
}

.minecraft-title-title-preview-flow .label {
    -fx-font-family: "Minecraft";
    -fx-font-size: 30;
}

.minecraft-title-subtitle-preview-flow .label {
    -fx-font-family: "Minecraft";
    -fx-font-size: 19;
}

.minecraft-item-preview-flow {
    -fx-opacity: .9;
}

.minecraft-item-preview-flow .label {
    -fx-font-family: "Minecraft";
    -fx-font-size: 19;
}

.minecraft-gui-preview-flow .label {
    -fx-font-family: "Minecraft";
    -fx-font-size: 19.7;
}

.minecraft-sign-preview-flow .label {
    -fx-font-family: "Minecraft";
    -fx-font-size: 35;
}

.minecraft-bossbar-preview-flow .label {
    -fx-font-family: "Minecraft";
    -fx-font-size: 18;
}

.minecraft-mobbar-preview-flow {
    -fx-background-color: rgba(0, 0, 0, .4);
}

.minecraft-mobbar-preview-flow .label {
    -fx-font-family: "Minecraft";
    -fx-font-size: 19;
}

.minecraft-motd-preview-flow .label {
    -fx-font-family: "Minecraft";
    -fx-font-size: 16;
}

.minecraft-ban-preview-flow .label {
    -fx-font-family: "Minecraft";
    -fx-font-size: 20;
}

.minecraft-animated-text-preview-flow .label {
    -fx-font-family: "Minecraft";
    -fx-font-size: 22.5;
}

.updater > .label {
    -fx-font-size: 18;
    -fx-text-alignment: center;
}

.updater .button {
    -fx-font-size: 17;
}

.addon-title-bar {
    -fx-font-size: 30;
}

.addon-node .name {
    -fx-font-size: 25;
}

.addon-node .version {
    -fx-font-size: 25;
    -fx-opacity: .8;
}

.addon-node .credits {
    -fx-font-size: 12;
    -fx-opacity: .5;
    -fx-padding: 2 0 10 0;
}

.addon-node .description {
    -fx-font-size: 15;
    -fx-opacity: .7;
}