.text {
    -fx-fill: white;
}

.key, .colon {
    -fx-fill: #FFC251;
}

.comma, .bracket {
    -fx-fill: #c792ea;
}

.true {
    -fx-fill: #3b985b;
}

.false {
    -fx-fill: #b83c3b;
}

.dash {
    -fx-font-weight: bold;
    -fx-fill: #80cbc4;
}

.colon {
    -fx-opacity: .85;
}

.string {
    -fx-fill: #C3E887;
}

.number {
    -fx-fill: #F77669;
}

.comment {
    -fx-fill: #546E7A;
}

.item {
    -fx-fill: #FF5370;
    -fx-font-style: italic;
}

.itemid {
    -fx-fill: #F55E53;
}

.particle {
    -fx-fill: #297BDE;
    -fx-font-style: italic;
}

.effect {
    -fx-fill: #008080;
    -fx-font-style: italic;
}

.sound {
    -fx-fill: #7A7A43;
    -fx-font-style: italic;
}

.entity {
    -fx-fill: #F9CF0A;
    -fx-font-style: italic;
}

.enchantment {
    -fx-fill: #6DC2B8;
    -fx-font-style: italic;
}