@import "sepia.css";

.text {
    -fx-fill: black;
}

.key {
    -fx-font-weight: bold;
    -fx-fill: derive(-fx-secondary, -30%);
}

.comma, .bracket {
    -fx-fill: -fx-secondary;
}

.true {
    -fx-fill: #0c3318;
}

.false {
    -fx-fill: #330f0e;
}

.dash {
    -fx-fill: -fx-tertiary;
}

.colon {
    -fx-fill: derive(-fx-secondary, -20%);
    -fx-opacity: .5;
}

.string {
    -fx-fill: derive(-fx-secondary, 5%);
}

.number {
    -fx-fill: #6a2600;
}

.comment {
    -fx-fill: -fx-secondary;
}

.item {
    -fx-fill: #474854;
    -fx-font-style: italic;
}

.itemid {
    -fx-fill: #92292e;
}

.particle {
    -fx-fill: #9b3450;
    -fx-font-style: italic;
}

.effect {
    -fx-fill: #36601e;
    -fx-font-style: italic;
}

.sound {
    -fx-fill: #445442;
    -fx-font-style: italic;
}

.entity {
    -fx-fill: #2a5b46;
    -fx-font-style: italic;
}

.enchantment {
    -fx-fill: #2a5546;
    -fx-font-style: italic;
}