@import "sepia.css";

.pane {
    -fx-background-color: -fx-primary;
}

.split-pane > .split-pane-divider, .left-pane, .context-menu, .menu-item {
    -fx-background-color: derive(-fx-secondary, 10%);
}

.menu-item:focused, .setting-combobox .list-cell:hover {
    -fx-background-color: -fx-tertiary;
}

.menu-item .label {
    -fx-text-fill: white;
}

.setting-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 15;
}

.setting-button:hover {
    -fx-background-color: rgba(0, 0, 0, .1);
}

.selected-setting-button {
    -fx-background-color: rgba(0, 0, 0, .15);
    -fx-font-weight: bold;
}

.setting-label {
    -fx-text-fill: #232323;
    -fx-font-weight: bold;
}

.setting-field, .setting-combobox, .setting-combobox .list-cell, .setting-checkbox .box, .setting-combobox .list-view {
    -fx-background-color: derive(-fx-tertiary, -10%);
    -fx-text-fill: white;
    -fx-highlight-fill: derive(-fx-tertiary, -20%);
}

.setting-combobox > .arrow-button > .arrow {
    -fx-background-color: white;
}

.setting-checkbox:selected .mark {
    -fx-background-color: white;
}