@import "solarized-dark.css";

* {
    -fx-yellow: #b58900;
    -fx-orange: #cb4b16;
    -fx-red: #dc322f;
    -fx-magenta: #d33682;
    -fx-violet: #6c71c4;
    -fx-blue: #268bd2;
    -fx-cyan: #2aa198;
    -fx-green: #859900;
}

.text, .colon {
    -fx-fill: derive(-fx-base1, 4%);
}

.key {
    -fx-fill: -fx-yellow;
}

.comma, .bracket {
    -fx-fill: -fx-base00;
}

.true {
    -fx-fill: -fx-green;
}

.false {
    -fx-fill: -fx-red;
}

.dash {
    -fx-fill: #586e75;
}

.string {
    -fx-fill: -fx-cyan;
}

.number {
    -fx-fill: -fx-blue;
}

.comment {
    -fx-fill: -fx-base1;
    -fx-opacity: .6;
}

.item {
    -fx-fill: -fx-magenta;
}

.itemid {
    -fx-fill: -fx-red;
}

.particle {
    -fx-fill: -fx-orange;
}

.effect {
    -fx-fill: -fx-violet;
}

.sound {
    -fx-fill: -fx-green;
}

.entity {
    -fx-fill: -fx-red;
}

.enchantment {
    -fx-fill: -fx-blue;
}