@import "solarized-constants.css";

.pane {
    -fx-background-color: -fx-base3;
}

.text-field {
    -fx-highlight-fill: rgba(0, 0, 0, .1);
}

.menu-bar, .tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: -fx-base00;
}

.menu-bar .label, .menu-item .label {
    -fx-text-fill: -fx-base3;
}

.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: derive(-fx-base00, -15%);
}

.context-menu, .menu-item {
    -fx-background-color: derive(-fx-base00, -7.5%);
}

.menu-item:focused {
    -fx-background-color: derive(-fx-base00, -20%);
}

.no-tabs-image {
    -fx-effect: innershadow(one-pass-box, -fx-base00, 10, 1, 0, 0);
}

.no-tabs-label, .version-label {
    -fx-text-fill: -fx-base00;
}

.tab {
    -fx-background-color: derive(-fx-base00, -8%);
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-label {
    -fx-text-fill: -fx-base2;
}

.tab:selected {
    -fx-background-color: derive(-fx-base00, -18%);
}

.tab:selected .tab-label {
    -fx-text-fill: -fx-base3;
}

.tab-close-button {
    -fx-effect: innershadow(one-pass-box, -fx-base3, 10, 1, 0, 0);
}

.area {
    -fx-background-color: -fx-base3;
}

.area, .colored-text-area {
    -fx-highlight-fill: derive(-fx-base3, -25%);
}

.area .paragraph-box:has-caret {
    -fx-background-color: derive(-fx-base3, -10%);
}

.area .caret {
    -fx-stroke: -fx-base00;
    -fx-stroke-width: 2;
}

.colored-text-editor {
    -fx-background-color: derive(-fx-base3, -17.5%);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .62), 35, 0, 0, 5);
}

.colored-text-area .caret {
    -fx-stroke: -fx-base00;
    -fx-stroke-width: 1.8;
}

.lineno {
    -fx-background-color: -fx-base1;
    -fx-text-fill: derive(-fx-base00, -30%);
    -fx-font-style: normal;
    -fx-font-size: 65%;
}

.scroll-bar:hover, .scroll-bar:focused {
    -fx-background-color: derive(-fx-base00, 40%);
}

.scroll-bar > .thumb {
    -fx-background-color: -fx-base00;
}

.arrow {
    -fx-background-color: white;
}

.text-popup {
    -fx-text-fill: -fx-base3;
    -fx-background-color: derive(-fx-base00, -10%);
}

.image-popup {
    -fx-background-color: derive(-fx-base00, -10%);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .4), 15, 0, 0, 7);
}

.drop-menu, .insert-menu, .conversion-menu {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .4), 20, 0, 0, 5);
}

.drop-menu > .drop-menu-button {
    -fx-background-color: derive(-fx-base00, -5%);
    -fx-border-color: derive(-fx-base00, -12.5%);
    -fx-border-width: 1;
    -fx-text-fill: -fx-base3;
}

.drop-menu > .drop-menu-button:disabled {
    -fx-opacity: 1;
    -fx-text-fill: derive(-fx-base3, -20%);
}

.drop-menu > .drop-menu-button:hover {
    -fx-background-color: derive(-fx-base00, -20%);
}

.drop-menu > .drop-menu-button_keyhover {
    -fx-background-color: derive(-fx-base00, -14%);
}

.hint, .insert-menu {
    -fx-background-color: derive(-fx-base00, -15%);
}

.hint:hover {
    -fx-background-color: derive(-fx-base00, -30.5%);
}

.hint_keyhover {
    -fx-background-color: derive(-fx-base00, -25%);
}

.insert-menu > .text-field {
    -fx-background-color: derive(-fx-base00, -35%);
    -fx-text-fill: -fx-base2;
}

.hint > .label {
    -fx-text-fill: -fx-base3;
}

.information-head {
    -fx-background-color: derive(-fx-base3, -35%);
}

.information-body {
    -fx-background-color: derive(-fx-base3, -20%);
}

.url {
    -fx-fill: #97ddff;
}

.information-body .label, .information-head > .label {
    -fx-text-fill: derive(-fx-base00, -10%);
}

.information-box {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .4), 15, 0, 0, 7);
}

.search-menu {
    -fx-background-color: -fx-base00;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .6), 12, 0, 0, -.3);
}

.search-menu > .buttons > .button, .search-menu > .text-field {
    -fx-background-color: -fx-base3;
    -fx-focus-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .4), 3, 0, 0, 2)
}

.search-menu > .results-label {
    -fx-text-fill: -fx-base3;
}

.close-button {
    -fx-text-fill: lightgray;
    -fx-background-color: transparent;
    -fx-font-size: 20;
}

.close-button:hover {
    -fx-background-color: rgba(0, 0, 0, .1);
    -fx-background-radius: 360;
}

.conversion-menu {
    -fx-background-color: -fx-base00;
    -fx-background-radius: 10;
}

.conversion-menu > .combo-box,
.conversion-menu > .combo-box .list-cell,
.conversion-menu > .combo-box .box,
.conversion-menu > .combo-box .list-view,
.conversion-menu > .text-field,
.conversion-menu > .button {
    -fx-background-color: derive(-fx-base00, -30%);
    -fx-text-fill: -fx-base3;
}

.conversion-menu > .button:hover {
    -fx-background-color: derive(-fx-base00, -50%);
}

.conversion-menu > .button:disabled {
    -fx-opacity: .8;
}

.conversion-menu > .combo-box .list-cell:hover {
    -fx-background-color: derive(-fx-base00, -10%);
}

.colored-text-control-button {
    -fx-background-color: transparent;
    -fx-background-radius: 8;
    -fx-text-fill: white;
}

.colored-text-control-button:hover {
    -fx-background-color: rgba(255, 255, 255, .05);
}

.colored-text-control-button:selected {
    -fx-background-color: rgba(255, 255, 255, .1);
}

.colored-text-control-bar {
    -fx-background-color: -fx-base00;
}

.color-combo-box,
.color-combo-box .list-cell,
.color-combo-box .box,
.color-combo-box .list-view {
    -fx-background-color: derive(-fx-base00, -20%);
}

.color-combo-box .list-cell:hover {
    -fx-background-color: derive(-fx-base00, -40%);
}

.colored-text-preview-menu {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .7), 30, 0, 0, 10);
}

.colored-text-preview-title-bar, .colored-text-preview-textfield, .colored-text-preview-textfield .content {
    -fx-background-color: derive(-fx-base00, -10%);
    -fx-highlight-fill: rgba(0, 0, 0, .15);
    -fx-text-fill: -fx-base3;
}

.sftp-address-box {
    -fx-background-color: derive(-fx-base3, -20%);
}

.ip-box, .ip-box .list-cell, .username-field, .password-field, .connect-button {
    -fx-background-color: derive(-fx-base3, -40%);
    -fx-text-fill: white;
}

.connect-button:hover {
    -fx-background-color: derive(-fx-base3, -30%);
}

.sftp-filechooser-button {
    -fx-background-color: transparent;
}

.sftp-filechooser-button > .label {
    -fx-text-fill: derive(black, 10%)
}

.sftp-filechooser-button:hover {
    -fx-background-color: rgba(0, 0, 0, .07);
}

.sftp-filechooser-button:focused {
    -fx-background-color: derive(-fx-base3, -30%);
}

.variables-menu {
    -fx-background-color: derive(-fx-base3, -15%);
}

.variables-menu .table-view {
    -fx-background-color: transparent;
}

.variables-menu .variables-control-bar {
    -fx-background-color: derive(-fx-base3, -35%);
}

.variables-menu .placeholder {
    -fx-text-fill: -fx-base00;
}

.variables-menu .placeholder-add-button {
    -fx-background-color: -fx-base00
}

.variables-menu .add-button {
    -fx-background-color: #859900;
}

.variables-menu .remove-button {
    -fx-background-color: #dc322f;
}

.variables-menu .add-button:hover {
    -fx-background-color: derive(#859900, -7.5%);
}

.variables-menu .remove-button:hover {
    -fx-background-color: derive(#dc322f, -7.5%);
}

.variables-menu .remove-button:disabled {
    -fx-opacity: 0;
}

.variables-menu .column-header,
.variables-menu .column-header .filler,
.variables-menu .column-header-background .filler {
    -fx-background-color: derive(-fx-base00, -15%);
}

.variables-menu .column-header .label {
    -fx-text-fill: -fx-base3;
    -fx-font-weight: bold;
}

.variables-menu .table-row-cell {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: rgba(255, 255, 255, .2);
}

.variables-menu .table-row-cell .text {
    -fx-font-size: 17.5;
    -fx-fill: -fx-base3;
}

.variables-menu .table-row-cell:even {
    -fx-background-color: derive(-fx-base00, -2.5%)
}

.variables-menu .table-row-cell:odd {
    -fx-background-color: derive(-fx-base00, -7%);
}

.variables-menu .table-row-cell:selected {
    -fx-background-color: -fx-base02;
}

.variables-menu .text-field {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-base3;
    -fx-font-size: 17.5;
    -fx-highlight-fill: rgba(0, 0, 0, .1);
}

.help-pane {
    -fx-background-color: -fx-base00;
}

.help-title {
    -fx-text-fill: -fx-base3;
    -fx-font-size: 55;
}

.help-text {
    -fx-text-fill: -fx-base3;
    -fx-font-size: 18;
}

.help-rectangle {
    -fx-fill: derive(-fx-base00, -20%);
    -fx-stroke-width: 0;
}

.updater {
    -fx-background-color: derive(-fx-base00, -20%);
}

.updater .label {
    -fx-text-fill: -fx-base3;
}

.updater .button {
    -fx-background-color: derive(-fx-base00, -10%);
    -fx-text-fill: -fx-base3;
}

.updater .button:hover {
    -fx-background-color: derive(-fx-base00, -20%);
}