@import "solarized-constants.css";

.text {
    -fx-fill: derive(-fx-base00, -30%);
}

.key {
    -fx-fill: -fx-green;
}

.colon {
    -fx-fill: -fx-base00;
}

.comma, .bracket, .dash {
    -fx-fill: -fx-base1;
}

.true {
    -fx-fill: derive(-fx-green, -30%);
}

.false {
    -fx-fill: -fx-red;
}

.string {
    -fx-fill: -fx-cyan;
}

.number {
    -fx-fill: -fx-yellow;
}

.comment {
    -fx-fill: -fx-base1;
    -fx-opacity: .83;
}

.item {
    -fx-fill: -fx-magenta;
}

.itemid {
    -fx-fill: -fx-red;
}

.particle {
    -fx-fill: -fx-orange;
}

.effect {
    -fx-fill: -fx-violet;
}

.sound {
    -fx-fill: -fx-green;
}

.entity {
    -fx-fill: -fx-red;
}

.enchantment {
    -fx-fill: -fx-blue;
}